<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %} - Chicken Events</title>
    <link rel="stylesheet" href="/dist/{{ asset( 'main.css' ) }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
</head>
<body class="{% block body_class %}body{% endblock %}">
<header>
    <nav>
        <ul>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path( 'login' ) }}">Connexion</a></li>
                <li><a href="{{ path( 'registration' ) }}">Inscription</a></li>
            {% else %}
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path( 'logout' ) }}">Déconnexion</a></li>
                <li><a href="{{ path( 'profileEdit' ) }}">Profil</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<section class="container">
    <aside>
        {% block aside %}<div></div>{% endblock %}
    </aside>
    <main>
        {% block body %}<div></div>{% endblock %}
    </main>
</section>

<script src="/dist/{{ asset( 'main.js' ) }}"></script>
</body>
</html>
