<section class="posts-list">
    {% for post in posts %}
        <article class="post">
            {% if post.user.id != app.user.id %}
                {% include 'components/like.html.twig' with { 'post': post } %}
            {% endif %}

            <p class="post__user-name">{{ post.user.firstname }} {{ post.user.lastname }}
                <a href="{{ path( 'single_user', { 'pseudo': post.user.pseudo }) }}" class="post__user-name__nickname">@{{ post.user.pseudo }}</a>
            </p>
            <p class="post__message">{{ post.message }}</p>
            <time class="post__message__date">{{ post.dateCreated ? post.dateCreated|date('d-m-Y H:i') : '' }}</time>
            <time class="post__message__date">{{ post.dateCreated ? post.dateCreated|localizeddate('medium', 'short') }} }}</time>
        </article>
    {% endfor %}
</section>
