<section class="posts-list">
    {% for post in posts %}
        <article class="post">
            <p class="post__user-name">{{ post.user.firstname }} {{ post.user.lastname }}
                <a href="{{ path( 'single_user', { 'pseudo': user.pseudo }) }}" class="post__user-name__nickname">@{{ post.user.pseudo }}</a>
            </p>
            <p class="post__message">{{ post.message }}</p>
            <time class="post__message__date">{{ post.dateCreated ? post.dateCreated|localizeddate('long', 'short') }}</time>
        </article>
    {% endfor %}
</section>
